.app-about {
  font-size: 16px;
  padding-top: 25px;

  .member {
    .thumbnail {
      max-width: 125px;
      margin: auto;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .name {
      padding-top: 15px;
      font-weight: bold;
    }
  }
}
