$menu-height: 80px;
$menu-line-height: 60px;
$menu-color: rgb(255, 255, 255);

body {
  overflow-x: hidden;
}

.border-bottom { box-shadow: 0px 1px 1px #e9e9e9; }

.app-header {
  height: $menu-height;
  margin: 30px 0 15px 0;
  padding: 0 15% 0 15%;
  width: 100%;

  background-color: $menu-color;


  .menu {
    .option:hover { text-decoration: underline; }

    .option {
      height: $menu-height;
      font-size: 25px;
      font-weight: bold;
      line-height: $menu-line-height;
      border-radius: 10px;
      padding: 10px 15px 10px 15px;
      color: rgb(75, 75, 75);
      cursor: pointer;
      text-decoration: none;

      i { margin-right: 10px; }
    }

    .logo {
      height: $menu-height;
      font-size: 30px;
      font-weight: bold;
      line-height: $menu-line-height;
      padding: 10px 15px;
      color: rgb(75, 75, 75);
      text-decoration: none;
      background-color: white;

      img { margin-right: 10px; }
    }

    .left {
      @extend .hidden-xs;
      @extend .hidden-sm;
      float: left;
      a:hover { text-decoration: none; }
    }

    .right {
      float: right;
      .editor, .config { @extend .hidden-xs; }
      .option {
        font-size: 20px;
        line-height: $menu-line-height;
      }
    }

    .active {
      background-color: $brand-primary;
      color: white;

      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }

    .left > .active:hover { cursor: pointer }
  }
}

.footer {
  margin: 50px;
}

@media(max-width: $screen-sm) {
  .app-header .menu .right {
    padding-left: 15px;
    float: left;
  }
}
