$menu-height: 110px;
$menu-line-height: 80px;
$menu-color: #ffffff;

html, body { overflow-x: hidden; }

.app-header {
  height: $menu-height;
  margin: 0px;
  padding: 25px 15% 15px 15%;
  width: 100%;
  transition: all 0.1s ease;
  background-color: $menu-color;

  .menu {
    .option:hover { text-decoration: underline; }

    .left {
      float: left;
      a:hover { text-decoration: none; }

      .logo {
        height: $menu-height;
        font-size: 30px;
        font-weight: bold;
        line-height: $menu-line-height;
        padding: 10px 15px;
        color: rgb(75, 75, 75);
        text-decoration: none;
        background-color: white;

        img { margin-right: 10px; }
      }
    }

    .right {
      float: right;
      .editor, .config { @extend .hidden-xs; }

      .option {
        height: $menu-height;
        font-size: 20px;
        font-weight: bold;
        line-height: $menu-line-height;
        border-radius: 10px;
        padding: 10px 15px 10px 15px;
        color: rgb(75, 75, 75);
        cursor: pointer;
        text-decoration: none;

        i { margin-right: 10px; }
      }

      .active {
        background-color: $brand-primary;
        color: white;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.app-header-fixed {
  position: fixed;
  top: 0px;
  z-index: 9999;
  margin: 0px;
  padding: 10px 5% 0 5%;
  transition: all 0.1s ease;
  -webkit-box-shadow:0px 1px 1px #adadad;
  -moz-box-shadow:0px 1px 1px #adadad;
  box-shadow:0px 1px 1px #adadad;

  height: 80px;

  .menu {
    .left .logo { line-height: 60px; }
    .right .option { line-height: 60px; }
  }
}

.app-body {
  min-height: 70vh;
}

footer {
  padding: 50px 0 0 0;
}

@media(max-width: $screen-lg) {
  .app-header {
    padding: 10px 10% 15px 10%;
  }
}
