<div class="app-about container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="page-header">
        <h2><b>About</b></h2>
      </div>
      <p>
        Bibtex Normalizer is a tool maintained by
        <a href="http://aserg.labsoft.dcc.ufmg.br/" target="_blank">Applied Software Engineering Research Group</a>,
        from Federal University of Minas Gerais, Brazil
      </p>
    </div>

    <div class="col-sm-10 col-sm-offset-1 col-xs-12 team">
      <div class="page-header">
        <h2><b>Team</b></h2>
      </div>
      <div class="row">
        <div class="col-xs-6 text-center member">
          <a class="thumbnail"><img src="/assets/images/contact/hudson.jpg" alt="" /></a>
          <div class="name">Hudson Borges</div>
          <div class="email">hsborges@dcc.ufmg.br</div>
        </div>
        <div class="col-xs-6  text-center member">
          <a class="thumbnail"><img src="/assets/images/contact/paulo.jpg" alt="" /></a>
          <div class="name">Paulo Henrique de Carvalho</div>
          <div class="email">paulocarvalho@dcc.ufmg.br</div>
        </div>
      </div>
    </div>
  </div>
</div>
