<a href="https://github.com/hsborges/bibtex-normalizer" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<div class="app-header container">
  <div class="menu row">
    <div class="left">
      {{#link-to "index" class="option home text-center"}}<i class="fa fa-home"></i>Home{{/link-to}}
    </div>
    <div class="right">
      {{#link-to "bibtex" class="option result text-center hide"}}<i class="fa fa-check"></i>Result{{/link-to}}
      {{#link-to "config" class="option result text-center"}}<i class="fa fa-gear"></i>Configuration{{/link-to}}
      {{#link-to "editor" class="option editor text-center"}}<i class="fa fa-pencil"></i>Editor{{/link-to}}
      {{#link-to "about" class="option about text-center"}}<i class="fa fa-info-circle"></i>About{{/link-to}}
    </div>
  </div>
</div>

<div class="app-body">
  {{outlet}}
</div>
